@import "/assets/normalize.css";

body {
    font-family: sans-serif;
    font-size: 13pt;
    padding: 0;
}

@media only screen and (min-width: 50rem) {
    .container > * {
        width: 50rem;
        margin: auto;
        margin-left: 1.6rem;
    }
}

@media only screen and (max-width: 50rem) {
    .container > * {
        width: 90%;
    }

    html {
        font-size: 90%;
    }
}

.container {
}

.site-header {
    background: #eee;
    padding: 1rem 1.6rem;
    border-bottom: solid 1pt #ccc;
}

.site-title {
    font-size: 17pt;
    color: #369;
    margin: 0;
}

.post {
    line-height: 1.6;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1pt #ccc solid;
}

.post h1 {
    font-size: x-large;
    margin: 3rem 0 2rem;
}

.post p {
    margin-bottom: 1rem;
}

.post h2 {
    font-size: larger;
    margin: 2rem 0 1rem;
}

.post h3 {
    color: #666;
    font-size: medium;
}

.post-list {
    padding: 0;
}

.post-list__item {
    list-style-type: none;
    font-size: large;
    margin: 2rem 0;
}
