{{template "header.tmpl" . -}}
<ul class="post-list">
    {{range .posts}}
        <li class="post-list__item">
            <a href="{{. | GetPostURL}}">{{.Title}}</a>
        </li>
    {{end}}
</ul>
{{template "footer.tmpl" . -}}
