{{template "header.tmpl" . -}}
<ul class="post-list">
    {{range .posts}}
        <li class="post-list__item">
            <p class="post-list__date">{{ShowDate .Timestamp}}</p>
            <a class="post-list__link" href="{{. | GetPostURL}}">{{.Title}}</a>
        </li>
    {{end}}
</ul>
{{template "footer.tmpl" . -}}
