<!doctype html>
<head>
    <link rel="stylesheet" href="/assets/airlog.css">
</head>
<body>
<div class="container">
    <header>
        <h1>{{.siteTitle}}</h1>
    </header>
    <article class="post">
    </article>
    <h1>airlog</h1>
    hello {{.post.Title}}
</div>
</body>
